owod_er_output/t1/*
owod_er_output/t2/*
owod_er_output/t3/*
owod_er_output/t4/*
!owod_er_output/t1/.gitkeep
!owod_er_output/t2/.gitkeep
!owod_er_output/t3/.gitkeep
!owod_er_output/t4/.gitkeep
output/t1/*
output/t2/*
output/t3/*
output/t4/*
!output/t1/.gitkeep
!output/t2/.gitkeep
!output/t3/.gitkeep
!output/t4/.gitkeep